@charset "utf-8"

@import "_fonts"
@import "_bulma"
@import "_fontawesome"
@import "_markdown"

.avatar
    width: 10rem
    height: auto
    border-radius: 50%

.social
    a
        color: $dark !important
        &:hover
            color: $link !important

.index-gradient
    background: linear-gradient(130deg, $grey 0%, $grey-light 45%, $white 100%)
