@tailwind base;
@tailwind components;
@tailwind utilities;

/* Aleo - Regular */
@font-face {
  font-family: "Aleo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Aleo-Regular.woff2") format("woff2");
}

/* Aleo - Bold */
@font-face {
  font-family: "Aleo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/Aleo-Bold.woff2") format("woff2");
}

/* Fira Code - Regular */
@font-face {
  font-family: "Fira Code";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/FiraCode-Regular.woff2") format("woff2");
}

/* Fira Code - Bold */
@font-face {
  font-family: "Fira Code";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("/fonts/FiraCode-Bold.woff2") format("woff2");
}

@layer components {
    .prose pre {
        line-height: 1.5;
    }

    .prose pre code {
        background: none;
        padding-left: 0;
    }
    .prose pre table {
        margin: theme(margin.0);
    }

    .prose pre tr {
        border-width: theme(borderWidth.0);
    }

    .prose pre td {
        padding: theme(padding.0);
        padding-left: theme(padding.2);
    }

    .prose pre td:first-child {
        padding-left: theme(padding.0);
    }
}
