{% import "macros.html" as macros %}

<div class="flex flex-col gap-y-4 p-4 my-4 rounded-lg divide-y shadow-lg bg-zinc-100 not-prose shadow-zinc-400 divide-zinc-400 dark:bg-zinc-700 dark:shadow-zinc-900 dark:divide-zinc-600">
  <p id="project-{{ name }}" class="text-xl font-bold">{{ emoji }} {{ name }}</p>

  <div class="pt-4 grow">
    {% if ci or crate or coverage %}
      <div class="flex flex-wrap gap-2 pb-4">
        {% if ci %}
        <a href="https://github.com/dnaka91/{{ name }}/actions/workflows/{{ ci | lower }}.yml">
          <img src="https://img.shields.io/github/actions/workflow/status/dnaka91/{{ name }}/{{ ci | lower }}.yml?branch={{ ci_branch | default(value="main") }}&style=for-the-badge">
        </a>
        {% endif %}
        {% if crate %}
        <a href="https://crates.io/crates/{{ name }}">
          <img src="https://img.shields.io/crates/v/{{ name }}?style=for-the-badge">
        </a>
        <a href="https://docs.rs/{{ name }}">
          <img src="https://img.shields.io/badge/docs.rs-{{ name }}-4d76ae?style=for-the-badge">
        </a>
        {% endif %}
        {% if coverage %}
        <a href="https://dnaka91.github.io/{{ name }}">
          <img src="https://img.shields.io/endpoint?url=https://dnaka91.github.io/{{ name }}/coverage.json&style=for-the-badge">
        </a>
        {% endif %}
      </div>
    {% endif %}

    <div>
      {{ body | markdown(inline=true) | safe }}
    </div>
  </div>

  <div class="flex flex-col gap-2 justify-between items-stretch pt-2 text-center md:flex-row">
    {% if homepage %}
      <a class="flex justify-center items-center py-2 px-4 rounded-md hover:text-blue-500 grow dark:hover:bg-zinc-600 hover:bg-zinc-200" href="{{ homepage }}">
        {{ macros::social_icon(name="firefox-browser", class="w-4 h-4 me-1") }}
        Homepage
      </a>
    {% endif %}
    <a class="flex justify-center items-center py-2 px-4 rounded-md hover:text-blue-500 grow dark:hover:bg-zinc-600 hover:bg-zinc-200" href="https://github.com/dnaka91/{{ name }}">
      {{ macros::social_icon(name="github", class="w-4 h-4 me-1") }}
      GitHub
    </a>
    <a class="flex justify-center items-center py-2 px-4 rounded-md hover:text-blue-500 grow dark:hover:bg-zinc-600 hover:bg-zinc-200" href="https://github.com/dnaka91/{{ name }}/blob/{{ branch | default(value="main") }}/LICENSE">
      {{ macros::icon(name="scale", class="w-4 h-4 me-1") }}
      {{ license }}
    </a>
  </div>
</div>