<link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path='images/apple-touch-icon.png') | safe }}">
<link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path='images/favicon-32x32.png') | safe }}">
<link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path='images/favicon-16x16.png') | safe }}">
<link rel="manifest" href="{{ get_url(path='site.webmanifest') | safe }}">
<link rel="mask-icon" href="{{ get_url(path='images/safari-pinned-tab.svg') | safe }}" color="#282828">
<meta name="theme-color" content="#282828">