{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block main_section %}
<section class="hero is-light is-fullheight-with-navbar index-gradient">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="columns">
        <div class="column">
          <img class="avatar" src="{{ get_url(path='images/avatar.webp') | safe }}" alt="avatar" width="160" height="160">
        </div>
      </div>
      <div class="columns">
        <div class="column is-size-3 has-text-weight-bold">
          {{ config.title }}
        </div>
      </div>
      <div class="columns">
        <div class="column is-size-4">
          {{ trans(key="subtitle", lang=lang) }}
        </div>
      </div>
      <div class="columns">
        <div class="social column">
          {% for social in config.extra.social %}
            {% set icon = social.icon | default(value=social.name) | lower %}
            <a href="{{ social.url | safe }}" aria-label="{{ social.name }}">
              <span class="icon is-large">
                <i class="fab fa-2x fa-{{ icon }}"></i>
              </span>
            </a>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock main_section %}