{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block main_section %}
<div class="fixed top-0 right-0 bottom-0 left-0 w-screen h-screen bg-gradient-to-br -z-10 from-zinc-200 to-zinc-500 dark:from-zinc-600 dark:to-zinc-900"></div>
<section class="flex flex-col flex-auto gap-y-2 justify-center items-center py-4 text-center lg:gap-y-6 grow">
  <img class="mb-8 rounded-3xl" src="{{ get_url(path='images/avatar.webp') | safe }}" alt="avatar" width="160" height="160">
  <div class="text-4xl font-bold">
    {{ config.title }}
  </div>
  <div class="text-2xl">
    {{ trans(key="subtitle", lang=lang) }}
  </div>
  <div class="flex gap-x-2">
    {% for social in config.extra.social %}
      {% set icon = social.icon | default(value=social.name) | lower %}
      <a class="hover:text-blue-500 group text-zinc-700 dark:text-zinc-200 dark:hover:text-blue-500" href="{{ social.url | safe }}" aria-label="{{ social.name }}">
        <div class="p-2 rounded-full dark:group-hover:bg-zinc-900/25 group-hover:bg-zinc-100/25">
          {{ macros::social_icon(name=icon) }}
        </div>
      </a>
    {% endfor %}
  </div>
</section>
{% endblock main_section %}