{% import "macros.html" as macros %}

<nav class="flex flex-col items-stretch md:flex-row bg-zinc-100 print:hidden dark:bg-zinc-900" role="navigation">
  <a class="py-2 px-2 my-auto font-bold uppercase md:py-3" href="{{ get_url(path='/', lang=lang) | safe }}/">
    {{ config.title }}
  </a>

  <div class="grow"></div>

  {%- if lang == config.default_language %}
    <div class="relative py-2 px-4 md:py-3 group dark:hover:bg-zinc-500 hover:bg-zinc-300">
      <div class="flex flex-row gap-x-1 items-center">
        <a href="{{ get_url(path='@/posts/_index.md', lang=lang) }}">{{ trans(key="menu_posts", lang=lang) }}</a>
        {{ macros::icon(name="chevron-down", class="w-4 h-4") }}
      </div>
      <div class="flex flex-col p-1 mt-2 shadow md:hidden md:absolute md:mt-0 group-hover:flex bg-zinc-200 dark:bg-zinc-700">
        {%- for taxo in config.taxonomies %}
          {%- set detail = get_taxonomy(kind=taxo.name, lang=lang) %}
          <a class="p-1 md:p-2 dark:hover:bg-zinc-500 hover:bg-zinc-300" href="{{ detail.permalink | safe }}">
            {{ trans(key="taxonomy_" ~ taxo.name, lang=lang) }}
          </a>
        {%- endfor %}
      </div>
    </div>
  {%- endif %}

  {% if lang == config.default_language %}
    {% set index = get_section(path="_index.md") %}
  {% else %}
    {% set index = get_section(path="_index." ~ lang ~ ".md") %}
  {% endif %}
  {% for page in index.pages | sort(attribute="slug") %}
    <a class="flex items-center py-2 px-4 align-middle md:py-3 dark:hover:bg-zinc-500 hover:bg-zinc-300" href="{{ page.permalink | safe }}">
      {{ page.title }}
    </a>
  {% endfor %}

  <div class="relative py-2 px-4 md:py-3 group dark:hover:bg-zinc-500 hover:bg-zinc-300">
    <div class="flex flex-row gap-x-1 items-center">
      <p>{{ trans(key="menu_language", lang=lang) }}</p>
      {{ macros::icon(name="chevron-down", class="w-4 h-4") }}
    </div>

    <div class="flex flex-col p-1 mt-2 shadow md:hidden md:absolute md:mt-0 group-hover:flex bg-zinc-200 dark:bg-zinc-700">
      {%- for code, _ in config.languages %}
        {%- set lang_url = current_path | trim_start_matches(pat='/' ~ lang) | trim_start_matches(pat='/') %}
        <a class="p-1 md:p-2 dark:hover:bg-zinc-500 hover:bg-zinc-300" href="{{ get_url(path=lang_url, lang=code) }}">
          {{- trans(key="language_name", lang=code) -}}
        </a>
      {%- endfor %}
    </div>
  </div>

  <a class="relative p-2 group" href="https://github.com/sponsors/dnaka91" target="_blank" rel="noreferrer">
  	<div class="inline-flex relative gap-1 items-center py-1.5 px-2 text-sm font-bold text-black bg-yellow-400 rounded-md group-hover:bg-yellow-200">
  	  <div class="flex relative w-5 h-5">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="inline-flex absolute visible w-5 h-5 group-hover:invisible stroke-[2.5px]">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-flex absolute invisible w-full h-full opacity-75 group-hover:visible group-hover:animate-ping stroke-[2.5px]">
          <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline-flex absolute invisible w-5 h-5 group-hover:visible stroke-[2.5px]">
          <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
        </svg>
      </div>
  	  <span>Sponsor</span>
  	</div>
  </a>
</nav>
