{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block header %}
<h1 class="flex flex-row gap-x-4 items-center text-4xl">
  {{ macros::icon(name="pencil", class="w-8 h-8") }}
  {{ macros::title_or_last(component=section) }}
</h1>
{% endblock header %}

{% block content %}
<div class="my-8 prose prose-zinc dark:prose-invert">
{{ section.content | safe }}
{% for page in section.pages %}
  <div>
    <div class="flex flex-row">
      <div class="w-32">
        {% if page.date %}
          {{ macros::format_date(date=page.date, lang=lang) }}
        {% endif %}
      </div>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </div>

    {% if page.description %}
      <p class="ml-32">{{ page.description }}</p>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock content %}