{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block header %}
<h1 class="flex flex-row gap-x-4 items-center text-4xl">
  {{ macros::icon(name=config.extra.taxonomy_icons[taxonomy.name], class="w-8 h-8") }}
  {{ taxonomy.name | capitalize }}
</h1>
{% endblock header %}

{% block content %}
<div class="my-8 prose prose-zinc dark:prose-invert">
  {% for term in terms %}
    <div>
      <a href="{{ term.permalink | safe }}">{{ term.name }}</a>
      ({{ term.pages | length }})
    </div>
  {% endfor %}
</div>
{% endblock content %}