{% extends "base.html" %}

{% import "macros.html" as macros %}

{% block extra_headers %}
<link rel="alternate" type="application/atom+xml" href="{{ get_url(path=term.permalink ~ 'atom.xml') | safe }}"
  title="{{ config.title }} | {{ term.name | capitalize }}">
{% endblock extra_headers %}

{% block header %}
<h1 class="flex flex-row gap-x-4 items-center text-4xl">
  {{ macros::icon(name=config.extra.taxonomy_icons[taxonomy.name], class="w-8 h-8") }}
  {{ taxonomy.name | capitalize }} / {{ term.name | capitalize }}
</h1>
{% endblock header %}

{% block content %}
<div class="my-8 prose prose-zinc dark:prose-invert">
{% for page in term.pages %}
  <div>
    <div class="flex flex-row">
      <div class="w-32">
        {% if page.date %}
          {{ macros::format_date(date=page.date, lang=lang) }}
        {% endif %}
      </div>
      <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    </div>

    {% if page.description %}
      <p class="ml-32">{{ page.description }}</p>
    {% endif %}
  </div>
{% endfor %}
</div>
{% endblock content %}